ion-content {
  --background: #f9f9f9;
}

ion-button.add-user {
  min-height: 30px;
  text-transform: none;

  --border-radius: 6px;
  --background: #393939;
  --box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.05);

  --padding-top: 0px;
  --padding-bottom: 0px;
}

ion-list.ion-list-users {
  background: transparent;
  padding: 0;
}

ion-item.custom-ion-item {
  --min-height: 40px;
}
