<ion-split-pane contentId="main-content" when="(min-width:1024px)">
  <ion-menu contentId="main-content" class="" (ionDidClose)="hideMenu()">
    <ion-header style="box-shadow: none">
      <ion-toolbar>
        <ion-title class="text-3xl">battuta</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Card de informações da empresa atual -->
      <ion-card class="card company">
        <!-- Coluna: Nome e CNPJ -->
        <ion-label class="flex flex-col">
          <ion-text color="dark" class="text-sm font-bold p-0">
            Battuta Log
          </ion-text>
          <ion-note class="text-xs">00.000.000/0000-00</ion-note>
        </ion-label>

        <!-- Ícone à direita -->
        <svg class="icon stroke-[1.5]">
          <use href="#chevron-down" />
        </svg>
      </ion-card>

      <!-- Lista de menu -->
      <app-menu-list #menulist [menuItems]="menuItems" />

    </ion-content>

    <ion-footer class="bg-white" style="box-shadow: none">
      <!-- Card de acesso e segurança -->
      <ion-card class="card acess-e-security">
        <!-- Ícone à esquerda -->
        <svg class="icon stroke-[1.5] text-black">
          <use href="#lock-closed" />
        </svg>

        <!-- Título e descrição -->
        <ion-label class="flex flex-col ml-5">
          <ion-text color="dark" class="text-sm font-bold p-0">
            Acesso & Segurança
          </ion-text>
          <ion-note class="text-xs">Controle de acesso e segurança</ion-note>
        </ion-label>
      </ion-card>

      <!-- Gerenciar conta e sair -->
      <ion-card color="light" class="user-card">
        <div class="user-info">
          <!-- Quaternário da Battuta -->
          <ion-icon
            src="assets/icons/battuta/quaternario-roxo.svg"
            class="w-10 h-5 mb-2"
          />

          <!-- Informações do Usuário -->
          <div class="flex flex-col items-start">
            <ion-text class="text-xs font-bold">Paulo Meirelles</ion-text>
            <ion-text class="text-xs">Diretor de Operações</ion-text>
          </div>
        </div>

        <ion-buttons class="user-actions">
          <ion-button class="user-button">
            <!-- Título -->
            <ion-text class="text-[.65rem] font-bold">
              Gerenciar Conta
            </ion-text>

            <!-- Ícone à direita -->
            <svg class="icon stroke-[1.5]">
              <use href="#cog-tooth" />
            </svg>
          </ion-button>
          <ion-button class="user-button">
            <!-- Título -->
            <ion-label class="text-[.65rem] font-bold">Sair</ion-label>

            <!-- Ícone à direita -->
            <svg class="icon stroke-[1.5]">
              <use href="#arrow-left-start-on" />
            </svg>
          </ion-button>
        </ion-buttons>
      </ion-card>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main-content">
    <!-- ao clicar em um item do menu, seu conteúdo (page) será renderizado aqui -->
  </ion-router-outlet>
</ion-split-pane>
