<!-- Lista de itens do menu -->
<ion-list class="flex flex-col bg-red-600">
  @for (menuItem of menuItems; track menuItem.title) {
  <ion-item-group>
    <app-menu-item
      [menuItem]="menuItem"
      [hasChildren]="onHasChildren(menuItem)"
      (click)="
        onHasChildren(menuItem) ? onToggle(menuItem) : onNavigationByUrl(menuItem)
      "
    />

    @if (onHasChildren(menuItem) && menuItem.open) {
    <div class="ml-8">
      <app-menu-list [menuItems]="menuItem.children!" />
    </div>
    }
  </ion-item-group>
  }
</ion-list>
